beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.8
django-heroku==0.3.1
gunicorn==19.8.0
idna==2.6
psycopg2==2.7.4
python-dateutil==2.7.3
pytz==2018.4
requests ~> 2.20.0
six==1.11.0
urllib3==1.22
whitenoise==3.3.1
