<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
    <title>{{ channel_name }}</title>
  <link>{{ channel_url }}</link>
  <description>{{ channel_description }}</description>
    {% for x in items %}
  <item>
    <title>{{ x.snippet.title }}</title>
    <link>http://{{ channel_domain }}/{{ x.id.videoId }}</link>
    <enclosure url="{{ x.snippet.best_image }}" length="1000000" type="image/jpeg" />
    <media:content url="{{ x.snippet.best_image }}" type="image/jpeg" />
    <pubDate>{{ x.snippet.pubDate }}</pubDate>
    <guid isPermaLink="false">{{ x.id.videoId }}</guid>
    <description>{{ x.snippet.description }}</description>
  </item>{% endfor %}
</channel>
</rss>


