<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta content="{{ og_title }}" property="og:title"/>
    <meta content="http://www.geniuslounge.com/{{ video_id }}/image" property="og:image"/>
    <meta content="{{ og_description }}" property="og:description"/>
    <meta content="summary_large_image" name="twitter:card"/>
    <meta charset="UTF-8">
    <title>{{ og_title }}</title>

    <style>
        button{
            margin: 20px;
        }
    </style>
</head>
<body style="margin: 20px">
<h1 style="text-align: center; padding-top: 20px">Genius Lounge</h1>
<h2 style="text-align: center">Holiday Tech Gift Guide</h2>
<div style="text-align: center; margin: 20px">
    <div style="display: inline-block;width: 45%" class="embed-responsive embed-responsive-16by9">
       <iframe width="1920" height="1080" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<ol>
    <li>
        <h3>Tile Tracker</h3>
        <p>$14.99</p>
        <p>
        <ul>
        <li>Reliable device</li>
        <li>One of the largest crowd-sourced "lost & found" networks available</li>
        <li>Battery lasts a <strong>long time</strong> (a year or more in our experience)</li>
        </ul>
        <br><a href="https://www.amazon.com/Tile-Mate-Finder-Anything-Packaging/dp/B01L3VEC08/ref=as_li_ss_il?s=gps&ie=UTF8&qid=1542087150&sr=1-6&keywords=tile+tracker&th=1&linkCode=li3&tag=geniusloung00-20&linkId=40300b282f8020c09840e5548c1c1c28&language=en_US" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B01L3VEC08&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=geniusloung00-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=geniusloung00-20&language=en_US&l=li3&o=1&a=B01L3VEC08" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <a href="https://amzn.to/2qR1Ib3"target="_blank"><br><button class="btn btn-warning">Get it on Amazon</button></a>
        </p>
        <hr style="align-items: center; width: 85%">

    </li>
    <li>
        <h3>Anker 10,000 mAh Battery Pack</h3>
        <p>$14.99</p>
        <p>
        <ul>
        <li>Heavy Duty</li>
        <li>Trusted brand with great reviews</li>
        <li>Holds multiple charges for your phone</li>
        </ul>
        <br><a href="https://www.amazon.com/Anker-PowerCore-Ultra-Compact-High-Speed-Technology/dp/B0194WDVHI/ref=as_li_ss_il?ie=UTF8&qid=1542084583&sr=8-3&keywords=anker+battery&linkCode=li3&tag=geniusloung00-20&linkId=b96e5bbae4269fc4ab3fb65a565634d8&language=en_US" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0194WDVHI&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=geniusloung00-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=geniusloung00-20&language=en_US&l=li3&o=1&a=B0194WDVHI" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <a href="https://amzn.to/2qRlJ0T"target="_blank"><br><button class="btn btn-warning">Get it on Amazon</button></a>
        </p>
        <hr style="align-items: center; width: 85%">

    </li>
    <li>
        <h3>Roav by Anker - Bluetooth Receiver / FM Transmitter</h3>
        <p>$25</p>
        <p>
        <ul>
        <li>Great for vehicles with or without an AUX port</li>
        <li>Great sound quality</li>
        <li>2 USB charging ports</li>
        </ul>
        <br><a href="https://www.amazon.com/SmartCharge-Bluetooth-Receiver-Transmitter-Charger/dp/B0719SNR5N/ref=as_li_ss_il?ie=UTF8&qid=1542086993&sr=8-1&keywords=roav&linkCode=li3&tag=geniusloung00-20&linkId=adffb17fdcb2102a0fe4fed0e29cdc84&language=en_US" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0719SNR5N&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=geniusloung00-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=geniusloung00-20&language=en_US&l=li3&o=1&a=B0719SNR5N" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <a href="https://amzn.to/2OLOq9f"target="_blank"><br><button class="btn btn-warning">Get it on Amazon</button></a>
        </p>
        <hr style="align-items: center; width: 85%">

    </li>
     <li>
        <h3>Anker Soundcore 2</h3>
        <p>$40</p>
        <p>
        <ul>
        <li>Take your music with you.</li>
        <li>24 hour battery ensures you're not tethered to a wall</li>
        <li>Excellent sound quality</li>
        <li>Water resistant</li>
        </ul>
        <br>
        <a href="https://www.amazon.com/Anker-Soundcore-Bluetooth-Exclusive-Water-Resistant/dp/B01MTB55WH/ref=as_li_ss_il?ie=UTF8&qid=1542087110&sr=8-4&keywords=anker+soundcore&linkCode=li3&tag=geniusloung00-20&linkId=3e26882775542f6a13fbb86fcec430ed&language=en_US" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B01MTB55WH&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=geniusloung00-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=geniusloung00-20&language=en_US&l=li3&o=1&a=B01MTB55WH" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <a href="https://amzn.to/2KdVTxe"target="_blank"><br><button class="btn btn-warning">Get it on Amazon</button></a>
        </p>
        <hr style="align-items: center; width: 85%">

    </li>
    <li>
        <h3>Echo Dot - 3rd Generation</h3>
        <p>$50</p>
        <p>
        <ul>
        <li>Set timers, control lights, or play games with just your voice</li>
        <li>Always getting better - Alexa learns new skills and is updated automatically</li>
        <li>Echo Dot can be connected to your speaker system to give you even better sound quality</li>
        </ul>
        <br>
        <a href="https://www.amazon.com/All-new-Echo-Dot-3rd-Gen/dp/B0792KTHKJ/ref=as_li_ss_il?ie=UTF8&qid=1542086907&sr=8-1&keywords=echo+dot&linkCode=li3&tag=geniusloung00-20&linkId=1b42e7b8ab1549f6274b582bb2243f6b&language=en_US" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0792KTHKJ&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=geniusloung00-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=geniusloung00-20&language=en_US&l=li3&o=1&a=B0792KTHKJ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <a href="https://amzn.to/2PxolQh"target="_blank"><br><button class="btn btn-warning">Get it on Amazon</button></a>
        </p>
        <hr style="align-items: center; width: 85%">
    </li>
    <li>
        <h3>Instant Pot - IP-DUO60 6 Qt. Electric Pressure Cooker</h3>
        <p>$50</p>
        <p>
        <ul>
        <li>Cook a delicious meal in a fraction of the time!</li>
        <li>Built in safety features mean this isn't like Grandma's pressure cooker</li>
        <li>Use it to make Yogurt, Rice, Soup, Roast</li>
        <li>Doubles as an extra slow cooker</li>
        </ul>
        <br>
        <a href="https://www.amazon.com/Instant-Pot-Multi-Use-Programmable-Pressure/dp/B00FLYWNYQ/ref=as_li_ss_il?s=kitchen&ie=UTF8&qid=1542087038&sr=1-4&keywords=instant+pot&linkCode=li3&tag=geniusloung00-20&linkId=3cdab79a0f07084cc2c27cc184a2fe48&language=en_US" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00FLYWNYQ&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=geniusloung00-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=geniusloung00-20&language=en_US&l=li3&o=1&a=B00FLYWNYQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <a href="https://amzn.to/2TlYby8"target="_blank"><br><button class="btn btn-warning">Get it on Amazon</button></a>
        <hr style="align-items: center; width: 85%">
    </li>
    <li>
        <h3>AmazonBasics 2.1 Channel Soundbar</h3>
        <p>$99</p>
        <p>
        <ul>
        <li>31.5" Soundbar with built-in Subwoofer</li>
        <li>Built-in Bluetooth for a wireless connection to your TV or streaming device</li>
        <li>3 audio profiles for amazing sound no matter what you're listening to</li>
        <li>Wall mount hardware and remote included</li>
        </ul>
        <br>
        <a href="https://www.amazon.com/AmazonBasics-Channel-Bluetooth-Built-Subwoofer/dp/B01JFER19Y/ref=as_li_ss_il?ie=UTF8&qid=1542086952&sr=8-1-spons&keywords=amazon+basic+sound+bar&psc=1&linkCode=li3&tag=geniusloung00-20&linkId=9a1df2197e5f30a2226bc5b54f293ee8&language=en_US" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B01JFER19Y&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=geniusloung00-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=geniusloung00-20&language=en_US&l=li3&o=1&a=B01JFER19Y" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <a href="https://amzn.to/2z4XPUo"target="_blank"><br><button class="btn btn-warning">Get it on Amazon</button></a>

        <hr style="align-items: center; width: 85%">
    </li>
    <li>
        <h3>Anova - Nano Sous Vide Precision Cooker</h3>
        <p>$99</p>
        <p>
        <ul>
        <li>Cooks food to a perfect temperature every time</li>
        <li>Simple to use, and produces the most delici</li>
        </ul>
        <br>
        <a href="https://www.amazon.com/Anova-Culinary-AN400-US00-Precision-Cooker/dp/B07C7PW3PC/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=geniusloung00-20&linkId=ffa090b52552f6082aa98ec6e8e16c35&language=en_US" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B07C7PW3PC&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=geniusloung00-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=geniusloung00-20&language=en_US&l=li3&o=1&a=B07C7PW3PC" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <a href="https://amzn.to/2KeeglC"target="_blank"><br><button class="btn btn-warning">Get it on Amazon</button></a>

        <hr style="align-items: center; width: 85%">
    </li>
        <li>
        <h3>Apple AirPods</h3>
        <p>$159</p>
        <p>
        <ul>
        <li>Wirelessly connects to your iPhone, iPad, or Mac</li>
        <li>Case also charges AirPods, allowing for multiple charges</li>
        <li>15 minutes in case gives you 3 hours listening time</li>
        </ul>
        <br>
        <a href="https://www.apple.com/airpods/" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B01MQWUXZS&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=geniusloung00-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=geniusloung00-20&language=en_US&l=li3&o=1&a=B01MQWUXZS" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <a href="https://www.apple.com/airpods/"target="_blank"><br><button class="btn btn-primary">Get it from Apple.com</button></a>

        <hr style="align-items: center; width: 85%">
    </li>
    </li>
        <li>
        <h3>AppleTV 4K</h3>
        <p>$179</p>
        <p>
        <ul>
        <li>Stream all your favorite shows and movies</li>
        <li>4K video with Dolby 7.1 Surround</li>
        <li>Voice search by asking the Siri Remote</li>
        </ul>
        <br>
        <a href="https://www.apple.com/apple-tv-4k/" target="_blank"><img border="0" src="https://images-na.ssl-images-amazon.com/images/G/01/img15/brawner/ATV4K._CB479919522_.png" ></a>
        <a href="https://www.apple.com/apple-tv-4k/"target="_blank"><br><button class="btn btn-primary">Get it from Apple.com</button></a>

    </li>

</ol>


</body>

</html>