<!DOCTYPE html>
<html>
<head>

<script>
 window.location.replace("{{ url }}")
 </script>
<noscript><meta http-equiv="refresh" content="0; {{ url }}"></noscript>
 <meta content="https://{{ domain }}/" property="og:url"/>
<!-- redirect logic -->
<meta content="{{ description }}" property="og:description"/>
<meta content="{{ description }}" name="twitter:description"/>
<meta name="description" content="{{ description }}">


<title>{{ title }}</title>
<meta content="{{ title }}" property="og:title">
<meta content="{{ title }}" name="twitter:title"/>

<meta content="{{ image }}" property="og:image"/>
<meta content="{{ image }}" name="twitter:image"/>

<meta content="summary_large_image" name="twitter:card"/>
</head>
<body>
</body>
</html>